<div class="providedbylb">
    <div class="toggle-wrapper">
        <span class="show"><img src="https://static.gwvkyk.com/media/0959670fdaf6658dbd9ae.png" width="80%" height="100%"></span>
        <span class="hide"><img src="https://static.gwvkyk.com/media/9a19021df6f66f46968ed.png" width="80%" height="80%"></span>
    </div>
    <div class="scrollable">
        <div class="heading"><img style="display: block; margin-left: auto; margin-right: auto;" src="https://static.gwvkyk.com/media/3ec48ce7cbe76f26eaf8c.png" alt="" width="50%" height="100%" /></br>Welcome To <b style="color:gold">DEMO</b></br>
            <p style="font-size: 11px;">Top 10 Best Online Casino Malaysia 2025</p>
        </div>
        <div class="menu-box-wrapper">
            <a href="/home" class="mb-menu-link">
                <img src="https://static.gwvkyk.com/media/c3da72b6dc086178d1eec.png">
                <div class="menubtext">Home</div>
            </a>
            <a href="/soccer" class="mb-menu-link">
                <img src="https://static.gwvkyk.com/media/3c6262c6dc086f6813447.png">
                <div class="menubtext">Correct Score</div>
            </a>
            <a href="#" class="mb-menu-link">
                <img src="https://static.gwvkyk.com/media/1b451bc6dc086818fad7e.png">
                <div class="menubtext">Coming Soon</div>
            </a>
            <a href="/promotion" class="mb-menu-link">
                <img src="https://static.gwvkyk.com/media/7f375ee6dc0867fdb5719.png">
                <div class="menubtext">Promos</div>
            </a>
            <a href="#" class="mb-menu-link">
                <img src="https://static.gwvkyk.com/media/8292dbf6dc086378794a1.png">
                <div class="menubtext">Coming Soon</div>
            </a>
            <a href="#" class="mb-menu-link">
                <div class="app-icon-mb">App</div>
                <img src="https://static.gwvkyk.com/media/f66e2907dc08652d21b26.png">
                <div class="menubtext">Coming Soon</div>
            </a>
            <a href="#gameList/A1/SLOT/0/0" class="mb-menu-link">
                <div class="hot-icon-mb">Hot</div>
                <img src="https://static.gwvkyk.com/media/61ff1adad3f768b4ed593.png" style="width: 100%;margin: 13% 0px 0px 0%;">
                <div class="menubtext">Recommend</div>
            </a>
            <a href="#gameList/REDGENN/SLOT/1/0" class="mb-menu-link">
                <div class="hot-icon-mb">Hot</div>
                <img src="https://backuptesting.vip/media/a7f23d5ad3f764116fc22.png" style="width: 85%;margin: 17px 0 0 5px;">
                <div class="menubtext">Recommend</div>
            </a>
            <a href="#gameList/CLOTPLAY/SLOT/0/0" class="mb-menu-link">
                <div class="hot-icon-mb">Hot</div>
                <img src="https://backuptesting.vip/media/9115107ad3f768b836fa5.png" style="margin: 13px 0px -4px 0;">
                <div class="menubtext">Recommend</div>
            </a>
        </div>
        <ul class="menu">
            <li>
                <a href="/settings"><img src="https://static.gwvkyk.com/media/598ad79af6f66038c9481.png" style="height:23px;display:inline;"> Profile </a>
            </li>
            <li><a class="link language" id="changelanguage"><i class="material-icons"></i><img src="https://static.gwvkyk.com/media/2da8c4baf6f66850284f0.png" style="height:25px;display:inline;">Change Language</a>
            </li>
            <li class="has-menu">
                <a href="#" onclick="return false;"><img src="https://static.gwvkyk.com/media/48c0413bf6f66b461cb62.png" style="height:23px;display:inline;"> Contact Us </a>
                <ul class="menu">
                    <li>
                        <a href="/chatroom"><img src="https://static.gwvkyk.com/media/e2a7e5796bb665e5c1214.png" style="height:25px;display:inline;"> Live Chat </a>
                    </li>
                    <li>
                        <a href="https://t.me/xxxxxxxxxx"><img src="https://static.gwvkyk.com/media/a2596ac96bb66b23e87bf.png" style="height:25px;display:inline;"> Telegram </a>
                    </li>
                    <li>
                        <a href="xxxxxxxxxx"><img src="https://static.gwvkyk.com/media/33e47f796bb66d6bdeb9c.png" style="height:25px;display:inline;"> Gmail </a>
                    </li>
                </ul>
            </li>
            <li class="has-menu">
                <a href="#" onclick="return false;"><img src="https://static.gwvkyk.com/media/71c76a3bf6f664216f5c9.png" style="height:23px;display:inline;"> Follow Us </a>
                <ul class="menu">
                    <li>
                        <a href="xxxxxxxxxx"><img src="https://static.gwvkyk.com/media/736b34e96bb6603078a2c.png" style="height:25px;display:inline;"> Heylink.me </a>
                    </li>
                    <li>
                        <a href="xxxxxxxxxx"><img src="https://static.gwvkyk.com/media/a2596ac96bb66b23e87bf.png" style="height:25px;display:inline;"> Telegram Channel </a>
                    </li>
                    <li>
                        <a href="xxxxxxxxxx"><img src="https://static.gwvkyk.com/media/05087db96bb66b1d98500.png" style="height:25px;display:inline;"> Facebook </a>
                    </li>
                </ul>
            </li>
        </ul>
        </li>
        <div id="copyright">
            <div class="copyrighttext">
                <p>2025 Demo . ALL RIGHTS RESERVED.</p>
            </div>
        </div>
    </div>
</div>


<div id="header" style="background-image: url(&quot;https://static.gwvkyk.com/media/5413cebbcfd76a14d038d.png&quot;); visibility: visible;">
	<a href="#home"><img class="logo" src="https://static.gwvkyk.com/media/8101313ccfd761b92802c.png"></a>
	<a class="link language" id="changelanguage"><i class="material-icons">g_translate</i></a>
</div>
<div id="marquee"><span></span></div>
<div id="content"></div>
<div id="footer"></div>


/* ExtraAdd */
#content.dimmed {
opacity: 0.3;pointer-events: none;transition: opacity 0.3s ease;
}
.menu-box-wrapper {
display: grid;grid-template-columns: repeat(3, 1fr);grid-gap: 8px;text-align: center;padding: 10px 15px;
}
a.mb-menu-link {
display: inline-block;background: #08202f;border-radius: 8px;color: #f8f8f8;font-size: 11px;padding: 6px 4px;position: relative;
}
a.mb-menu-link img {
max-height: 30px;margin: 5px auto;
}
.menubtext {
margin-top: 8px;
}
.hot-icon-mb {
position: absolute;background: #ff9600;color: #000;border-radius: 8px 0;padding: 0px 6px;font-size: 9px;font-weight: 700;letter-spacing: 1px;text-transform: uppercase;left: 2px;top: 1px;z-index: 2;animation: blink 0.9s ease-in-out infinite;
}
.app-icon-mb {
position: absolute;background: #ff0000;color: #000;border-radius: 8px 0;padding: 0px 6px;font-size: 9px;font-weight: 700;letter-spacing: 1px;text-transform: uppercase;left: 2px;top: 1px;z-index: 2;animation: blink 0.9s ease-in-out infinite;
}


/* Header */
#header .logo {
width: 175px;margin: 0px 0px;height: 58px;
}
#header .link i {
    display: none;
}


/* Slide Menu */
#main-language .box .item i {
position: absolute;margin: 3px 5px;font-size: 18px;color: #67d184;display: none;
}
#main-language .box .item {
position: relative;overflow: hidden;padding: 15px;border-bottom: 1px solid #000000;text-align: center;font-size: 18px;font-weight: 700;display: block;z-index: auto;
}
#main-language .box {overflow: hidden;background: #fff;border-radius: 8px;color: #000;border: 1px solid #000000;
}
.providedbylb .copyrighttext p {
font-size: 11px;text-align: left;width: 100%;padding: 5%;float: left;position: absolute;bottom: 0;left: 0;color: white;
}
.providedbylb {
border: 0px solid rgba(255, 255, 255, 0.1);height: 100%;width: 300px;color: #000;position: fixed;top: 0;right: calc(100% - 300px);transition: right 0.5s;z-index: 3;background: #0e0f16;
}
.providedbylb .toggle-wrapper {
border: none;border-left: none;height: 50px;width: 50px;background-image: url();overflow: hidden;position: absolute;top: 1px;right: calc(0px - 50px);margin: 2px 0 0 0;border-radius: 0;background-size: 100% 100%;
}
.providedbylb .toggle-wrapper span {
width: 50px;height: 50px;line-height: 48px;text-align: center;background-color: transparent;color: inherit;cursor: pointer;position: absolute;top: 0;right: 0;transition: right 0s;color: white;font-size: 20px;
}
.providedbylb .toggle-wrapper .show {
right: -50px;
}
.providedbylb .heading {
padding: 15px;height: 125px;border-bottom: 0px solid rgba(255, 255, 255, 0.1);line-height: 15px;color: white;margin: 0px 0px 30px 0;text-align: center;
}
.providedbylb .menu {
list-style-type: none;
}
.providedbylb .menu img {
margin: 0px 6px -6px 0;
}
.providedbylb .menu li {
border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.providedbylb .menu a {
display: block;padding: 12px;line-height: 20px;color: #fff;text-decoration: none;position: relative;z-index: 0;font-size: 12px;
}
.providedbylb .menu a::after {
content: "";background-color: rgba(255, 255, 255, 0.1);position: absolute;top: 0;right: 100%;bottom: 0;left: 0;transition: left 0.25s, right 0.25s;
}
.providedbylb .menu a:hover {
background: #08202f;color: white;transform: translateX(5px);box-shadow: 0 0 7px #00ffff;width: 95%;border-radius: 15px;
}
.providedbylb .has-menu {
position: relative;
}
.providedbylb .has-menu::before {
content: "";border: 0px solid #ffffff;height: 40px;width: 40px;cursor: pointer;position: absolute;top: 0px;right: 0;z-index: 1;color: white;border-radius: 14px;
}
.providedbylb .has-menu::after {
content: "\027A4";padding: 0px 0;height: 45px;width: 45px;line-height: 45px;text-align: center;cursor: pointer;position: absolute;top: 0;right: 0;z-index: 1;transform: rotate(90deg);transition: transform 0.25s;color: #ffcc00;
}
.providedbylb .has-menu > .menu {
overflow: hidden;max-height: auto;
}
.providedbylb .menu .menu {
  border-top: 0px solid rgba(255, 255, 255, 0.1);
}
providedbylb .has-menu > .menu > li > a {padding-left: 15px;transition: padding 1s;font-size: 10px;
}
.providedbylb .has-menu > .menu > li:last-child {
border-bottom: none;
}


/* Closed States */
.providedbylb:not(.open) {
right: 100%;
}
.providedbylb:not(.open) .toggle-wrapper .show {
right: 0px;
}
.providedbylb:not(.open) .toggle-wrapper .hide {
right: 50px;
}
.providedbylb .has-menu:not(.open)::after {
transform: rotate(-90deg);color: white;
}
.providedbylb .has-menu:not(.open) > .menu {
border-top: none;max-height: 0;
}
.providedbylb .has-menu:not(.open) > .menu > li > a {
padding-left: 15px;
}
.providedbylb .scrollable {
height: 95%;overflow: auto;width: 100%;max-width: 100%;
}
@keyframes mymove {
0% {transform: translateY(0);}50% {transform: translateY(-3px);}100% {transform: translateY(0);}
}